# Stripe Configuration
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# Server Configuration
PORT=3001

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=djzbiayvb
CLOUDINARY_API_KEY=849993869126892
CLOUDINARY_API_SECRET=5d6DIlf2kOPq3ce3gZm8MzW07Cw 
